body{
    
    text-align: center;
}

.header{
color:darkblue;
}

.header img:last-child{
    width:100%;
}

.header ul{
    display:inline;
}

#toplogo{
    color:blue;
}

.topmenu{
    color:black;
}

.topmenu a{
    color:orange;
}

.textaboveimage{
    color:orange;
}

.textaboveimage{
     color:orange;
}

.inspirelogos div{
    display:inline-block;
}

.feedback{
   color:green;
}


.companies div{
    display:inline-block;
    color:green;
}

.findus{
    color:brown;
}

.footer{
    color:yellow;
    background-color:brown;
    padding:100px 100px;
}

.footer section{
    display:inline-block;
}


